# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
.vs/TrabalhoPraticoEDA/v17/Browse.VC.db
.vs/TrabalhoPraticoEDA/v17/Browse.VC.db-shm
.vs/TrabalhoPraticoEDA/v17/Browse.VC.db-wal
.vs/TrabalhoPraticoEDA/v17/Browse.VC.opendb
.vs/TrabalhoPraticoEDA/v17/ipch/AutoPCH/98dd574e3c58f8b1/ORIGEM.ipch
